<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="icon" href="../../assets/images/faviconlogo.jpg">

    <link rel="stylesheet" href="../../assets/styling/sty_PublicVars.css">
    <link rel="stylesheet" href="../../assets/styling/sty_AboutPage.css">
</head>

<body>
    <nav>
        <a class="navigation" href="HomePage.html">Home</a> &nbsp; 
        <a class="navigation" href="StorePage.html">Store</a> &nbsp; 
        <a class="navigation" href="SellTradePage.html">Sell/Trade</a> &nbsp; 
        <a class="navigation" href="ContactPage.html">Contact</a>
    </nav>

    <main>
        <div class="section">
            <div class="container">
                <div class="content-s">
                    <div class="title">
                        <h1>About Us</h1>
                    </div>
                    <div class="content">
                        <h3>
                            The best used car lot
                        </h3>
                        <p>In our company, we focus on the best quality for the customer. That's why we sell you like-new cars for cheap. Our customer service is the top rated and conducted specifically for your satisfaction. Scared of all the paperwork? Good news, You don't have to deal with all the paperwork anymore because we'll do it for you. Come visit us and have the easiest time to buy a car!</p>
                        
                    </div>
                </div>
                <div class="image">
                    <img src="../../assets/images/cars/2018-subaruCrosstek.jpg">
                </div>
            </div>
        </div>
    </main>

    <footer class = "footer">
        <div class = "footer-container">
          <div class = "row">
            <div class = "column">
              <h4>Company</h4>
              <ul>
                <li><a href = "AboutPage.html">about us</a></li>
                <!--<li><a href = "#">privacy policy</a></li>-->
              </ul>
            </div>
            <div class = "column">
              <h4>Get Help</h4>
              <ul>
                <li><a href = "#">FAQ</a></li>
                <li><a href = "ContactPage.html">problems?</a></li>
              </ul>
            </div>
            <div class = "column">
              <h4>Navigate the website</h4>
              <ul>
                <li><a href = "HomePage.html">home page</a></li>
                <li><a href = "StorePage.html">store page</a></li>
                <li><a href = "SellTradePage.html">sell/trade</a></li>
                <li><a href = "ContactPage.html">contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
</body>