<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/styling/sty_PublicVars.css">
    <script src="../scripts/s_ContactPage.js"></script>
    <title>Contact Page</title>
</head>
    <body>
        <main>
            <div>
            <h1>Hello! How do you want to be contacted?</h1>
            <select name="contactWay" id="contactWay">
                <option value="email">E-mail</option>
                <option value="phone">Phone</option>
            </select>

            <div id="email">
                this works
            </div>
            <div id="phone">
                this works
            </div>
            <a href="HomePage.html">Home</a>
            </div>
        </main>
    </body>
</html>