<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Website</title>
    <link rel="stylesheet" href="../../assets/styling.css">
    <script src="../scripts/HomePage.js"></script>
  </head>
  <body>
    <div class="gridbox"> 
      <div class="grid-item grid-item-1">
        <a class="decor" href="/">Home</a> &nbsp;
        <a class="decor" href="AboutPage.html">About</a> &nbsp; 
        <a class="decor" href="AboutPage.html">PlaceHolder</a> &nbsp;
        <a class="decor" href="AboutPage.html">PlaceHolder</a> &nbsp;
        <a class="decor" href="AboutPage.html">PlaceHolder</a> 
        <p class="name">2022 Honda Civic</p>
        <a class="button" href="">BUY NOW</a>
        <p class="cost">Used: $20,674</p>
      </div>
      
      <div class="grid-item card-main grid-item-2">
        <div class="card-item">
          card1
        </div>
      </div>
      <div class="grid-item card-main grid-item-3">
        <div class="card-item">
          card2
        </div>
      </div>
      <div class="grid-item card-main grid-item-4">
        <div class="card-item">
          card3
        </div>
      </div>
      <div class="grid-item grid-item-5">
        <div id="gi5-circle1" class="shapes-circle"></div>
        <div id="gi5-circle2" class="shapes-circle"></div>
        <div id="gi5-circle3" class="shapes-circle"></div>
        <p id="signup-text">Ready to get started now?</p>
        <a id="signup-button" href="">SIGN UP</a>
      </div>
      <div class="grid-item grid-item-6">footer placeholder</div>
    </div>
  </body>
</html>