<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- idk what this is tbh lol -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Website</title>

    <!-- This code block are referencing, and using styling and scripts. -->
    <link rel="stylesheet" href="../../assets/styling/sty_PublicVars.css">
    <link rel="stylesheet" href="../../assets/styling/sty_HomePage.css">
    <script src="../scripts/s_HomePage.js"></script>
  </head>
  <body>
    <!-- Relys on a system of CSS gridding which is how it's decently organized and works okay on smaller screens. -->
    <div class="gridbox"> 
      <!-- All organized in order from their class number: grid-item-1 all the way to grid-item-5. -->
      <div class="grid-item grid-item-1">
        <!-- Navigator, I put it inside the 1st grid item because I wanted it to blend with the background.-->
        <a class="navigation" href="HomePage.html">Home</a> &nbsp;
        <a class="navigation" href="StorePage.html">Store</a> &nbsp; 
        <a class="navigation" href="SellTradePage.html">Sell/Trade</a> &nbsp;
        <a class="navigation" href="ContactPage.html">Contact</a>

        <!-- Background's small information. -->
        <p class="name">2022 Honda Civic</p>
        <a class="button" href="">BUY NOW</a>
        <p class="cost">Used: $20,674</p>
      </div>
      
      <!-- Cards; prove that we're a great company.-->
      <div class="grid-item card-main grid-item-2">
        <div class="card-item">
          <p>Used cars affixed to better conditions when they left it to us!</p>
        </div>
      </div>
      <div class="grid-item card-main grid-item-3">
        <div class="card-item">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet rerum culpa quam asperiores nobis voluptate vitae, neque repellendus exercitationem quasi eveniet commodi earum at impedit harum quaerat provident ipsam aliquid. Vero aliquid harum neque autem eum dolorum explicabo ducimus suscipit, natus at, id, quaerat inventore. Reiciendis, nihil expedita. Voluptatibus aperiam laudantium sapiente eum ipsum quo? Aliquid soluta facere architecto ratione deleniti dolorem error ut ipsa, sit laboriosam similique adipisci exercitationem deserunt velit iure atque beatae sequi sint pariatur repudiandae, expedita impedit. Nam, ullam quisquam odio facilis illum impedit, deleniti dignissimos blanditiis molestiae, autem molestias excepturi non in nemo ipsa necessitatibus?</p>
        </div>
      </div>
      <div class="grid-item card-main grid-item-4">
        <div class="card-item">
          <p>Lorem ipsum dolor sit amet consectastartarstsrtsrtstsrtrstsrtarsssssssssssssssssssssssssssssssssssssss</p>
        </div>
      </div>

      <!-- A spot to advertise to sign up for us -->
      <div class="grid-item grid-item-5">
        <div id="gi5-circle1" class="shapes-circle"></div>
        <div id="gi5-circle2" class="shapes-circle"></div>
        <div id="gi5-circle3" class="shapes-circle"></div>
        <p id="signup-text">Ready to get started now?</p>
        <a id="signup-button" href="">SIGN UP</a>
      </div>

      <!-- A footer for extra navigation reference or quick contact points. -->
      <div class="grid-item grid-item-6">footer placeholder</div>
    </div>
  </body>
</html>