<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Trade Page</title>
    <link rel="icon" href="../../assets/images/faviconlogo.jpg">

    <link rel="stylesheet" href="../../assets/styling/sty_PublicVars.css">
    <link rel="stylesheet" href="../../assets/styling/sty_SellTradePage.css">
    <script src="../scripts/s_SellTradePage.js"></script>
</head>