<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Trade Page</title>

    <link rel="stylesheet" href="../../assets/styling/sty_PublicVars.css">
    <link rel="stylesheet" href="../../assets/styling/sty_SellTradePage.css">
</head>
    <body>
        <nav>
            <a class="navigation" href="HomePage.html">Home</a> &nbsp; 
            <a class="navigation" href="StorePage.html">Store</a> &nbsp; 
            <a class="navigation" href="SellTradePage.html">Sell/Trade</a> &nbsp; 
            <a class="navigation" href="ContactPage.html">Contact</a>
        </nav>

        <main>
            <h1>Selling, or Trading?</h1>
            <div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div class="adstuff">
                    <h3>Need to sell, or trade your car?</h3>
                    <p>No worries, we've got you covered. Enter you information here about your car, and we'll leave the intriguing work to us.</p>
                </div>
            </div>
        </main>
    </body>
</html>