<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Page</title>

    <link rel="stylesheet" href="../../assets/styling/sty_PublicVars.css">
    <link rel="stylesheet" href="../../assets/styling/sty_StorePage.css">
</head>
    <body>
        <nav>
            <a class="navigation" href="HomePage.html">Home</a> &nbsp; 
            <a class="navigation" href="StorePage.html">Store</a> &nbsp; 
            <a class="navigation" href="SellTradePage.html">Sell/Trade</a> &nbsp; 
            <a class="navigation" href="ContactPage.html">Contact</a>
        </nav>

        <main>
            <div class="gridbox grid-item-1 filters">
                <p>Search for an item</p>
                <input type="text">
            </div>
            <div class="gridbox grid-item-2 list-cars">
                <li class="cars cars-8"><img src="../../assets/images/cars/2018-subaruCrosstek.jpg" alt="FAIL">2018 Subaru Crosstek <p>$31,473</p></li>
                <li class="cars cars-9"><img src="../../assets/images/cars/2022-hondaCivic.jpg" alt="FAIL">2022 Honda Civic <br><p>$28,807</p> </li>
                <li class="cars cars-5"><img src="../../assets/images/cars/2016-bmw5X.jpg" alt="FAIL">2016 BMW 5X <br><p>$27,569</p> </li>
                <li class="cars cars-7"><img src="../../assets/images/cars/2017-jeepWrangler.jpg" alt="FAIL">2017 Jeep Wrangler <br><p>$23,585</p> </li>
                <li class="cars cars-6"><img src="../../assets/images/cars/2016-fordF-150.jpg" alt="FAIL">2016 Ford F-150 <br><p>$22,395</p> </li>
                <li class="cars cars-2"><img src="../../assets/images/cars/2015-toyotaCamry.jpg" alt="FAIL">2015 Toyota Camry <br><p>$20,745</p> </li>
                <li class="cars cars-4"><img src="../../assets/images/cars/2015-nissanFrontier.JPG" alt="FAIL">2015 Nissan Frontier <br><p>$19,492</p> </li>
                <li class="cars cars-3"><img src="../../assets/images/cars/2015-toyotaCorolla.jpg" alt="FAIL">2015 Toyota Corolla <br><p>$18,524</p> </li>
                <li class="cars cars-1"><img src="../../assets/images/cars/2014-nissanSentra.jpeg" alt="FAIL">2014 Nissan Sentra <br><p>$17,489</p></li>
            </div>
        </main>
    </body>
</html>