<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Page</title>

    <link rel="stylesheet" href="../../assets/styling/sty_PublicVars.css">
    <link rel="stylesheet" href="../../assets/styling/sty_StorePage.css">
</head>
    <body>
        <nav>
            <a class="navigation" href="HomePage.html">Home</a> &nbsp; 
            <a class="navigation" href="StorePage.html">Store</a> &nbsp; 
            <a class="navigation" href="SellTradePage.html">Sell/Trade</a> &nbsp; 
            <a class="navigation" href="ContactPage.html">Contact</a>
        </nav>

        <main>
            <div class="list-cars">
                <li class="cars cars-1"><img src="../../assets/images/cars.jpg" alt="FAIL">2017 dumb car placeholder <br> $20000</li>
                <li class="cars cars-2"><img src="../../assets/images/cars.jpg" alt="FAIL">2018 dumb car placeholder <br> $170000</li>
                <li class="cars cars-3"><img src="../../assets/images/cars.jpg" alt="FAIL">2019 dumb car placeholder <br> $60000</li>
                <li class="cars cars-4"><img src="../../assets/images/cars.jpg" alt="FAIL">2020 dumb car placeholder <br> $9000</li>
                <li class="cars cars-5"><img src="../../assets/images/cars.jpg" alt="FAIL">2021 dumb car placeholder <br> $15000</li>
                <li class="cars cars-6"><img src="../../assets/images/cars.jpg" alt="FAIL">2022 dumb car placeholder <br> $21000</li>
                <li class="cars cars-7"><img src="../../assets/images/cars.jpg" alt="FAIL">2023 dumb car placeholder <br> $24000</li>
                <li class="cars cars-8"><img src="../../assets/images/cars.jpg" alt="FAIL">2024 dumb car placeholder <br> $23000</li>
                <li class="cars cars-9"><img src="../../assets/images/cars.jpg" alt="FAIL">2025 dumb car placeholder <br> $24000</li>
            </div>
        </main>
    </body>
</html>