/* WHEN STYLING::after
all of this is sort of organized by the order that the html elements go, like how grid-item-1 as a class is first, and it's first here in CSS.
if anything general was to be changed, like an html element, they were TOP priority of the list such as nav, and a.
*/


/* imports fonts from google. (Roboto and Michroma.) */
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:wght@300&display=swap');

.gridbox {
    color: white;
    display: grid;
    grid-template-areas:
        "main main main"
        "main main main"
        "card-1 card-2 card-3"
        "sign-up sign-up sign-up"
        "footer footer footer"
}

.gridbox a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 1.5px solid white;
    padding: 20px 40px;
    border-radius: 50px;
    transition-duration: 250ms;
    transition-property: background-color, color;
}

.gridbox a:hover {
    background-color: white;
    color: black;
}

.gridbox a.navigation {
    position: relative;
    border: none;
    padding: 10px;
    bottom: 22rem;
}

.grid-item {
    padding: 100px;
    text-align: center;
    overflow-y: hidden;
}

/* These keyframes were used to animate the car name text, button to buy, and the used cost. */
@keyframes griditemA {
    0% {bottom: -31rem}
    100% {bottom: -25.5rem}
}

@keyframes griditemPName {
    0% {bottom: -33rem}
    100% {bottom: -29rem}
}

@keyframes griditemPCost {
    0% {bottom: -27rem}
    100% {bottom: -23rem}
}

.grid-item-1 {
    grid-area: main;

    padding: 374px;
    background: url('../images/2022-HondaCivic-MainPage.jpg') no-repeat center center;
    background-size: cover;
    box-shadow: inset 0 0 200px 150px black;
    max-width: 200%;
    max-height: 200%;
    vertical-align: text-top;
}

.grid-item-1 .button {
    position: relative;
    bottom: -31rem;
    z-index: 3;

    animation-name: griditemA;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.grid-item-1 p {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Michroma', sans-serif;
    position: relative;
}

.grid-item-1 p.name {
    text-align: left;
    bottom: -33rem;
    right: 22.5rem;

    animation-name: griditemPName;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.grid-item-1 p.cost {
    text-align: right;
    bottom: -27rem;
    left: 22.5rem;

    animation-name: griditemPCost;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

/* Card is our advertising part after showing off the main cars we have. */
.card-main {
    color: black;
    font-size: 1.75rem;
    padding: 60px;
    background-color: rgb(150, 124, 97);
    z-index: 1;
}

.card-item {
    width: 100%;
    height: 57rem;
    background-color: white;
    border-radius: 25px;
}

.grid-item-2 {
    text-align: center;
    grid-area: card-1;
}

.grid-item-3 {
    grid-area: card-2;
}

.grid-item-4 {
    grid-area: card-3;
}

.grid-item-5 {
    grid-area: sign-up;
    padding: 200px;
    font-size: 30px;
    background-color: rgb(115, 151, 179);
}
.grid-item-5 p {
    position: relative;
    right: 10rem;
}
.grid-item-5 a {
    position: relative;
    left: 10rem;
}

#gi5-circle1 {
    top: 2080px;
    width: 350px;
    height: 350px;
    z-index: 0;
    background-color: rgb(98, 137, 167);
}

#gi5-circle2 {
    top: 1900px;
    width: 220px;
    height: 220px;
    z-index: 0;
    background-color: rgba(51, 82, 106, 0.9);
}

#gi5-circle3 {
    top: 2051px;
    width: 285px;
    height: 285px;
    z-index: 0;
    background-color: rgba(44, 93, 130, 0.5);
}

.grid-item-6 {
    grid-area: footer;
    background-color: rgb(25, 25, 25);
    z-index: 1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-container{
    max-width: 1170px;
    margin: auto;
}

.ul{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
    line-height: 1.5;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    width: 25%;
    padding: 0 15px;
}

.column h4{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: 500;
    position: relative;
}

.column h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: rgba(44, 93, 130, 0.5);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.column ul li:not(last-child){
    margin-bottom: 10px;
}

.column ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
}