nav {
    text-align: center;
    background-color: gray;
    padding: 20px;
}

nav a.navigation {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition-duration: 250ms;
}

nav a.navigation:hover {
    background-color: white;
    color: black;
}

main {
    text-align: center;
    background-color: lightsteelblue;
}

.card {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 200px 300px 200px 300px;
    border-radius: 75px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border: 2.5px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 5px whitesmoke;
    line-height: 1.5;
}

.card h3 {
    font-size: 50px;
}

.card p {
    font-size: 20px;
}

.card input {
    font-size: 30px;
    height: 50px;
    width: 200px;
    border: 3px solid lightblue;
    text-align: center;
}

.button-1 {
    position: relative;
    top: 18px;
}
.next-page {
    font-size: 30px;
    border: 3px solid blue;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: blue;
    color: white;
    transition-duration: 250ms;
}

.next-page:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.section-1 div {
    display: inline-block;
    white-space: nowrap;
}

.section-2 {
    display: none;
}

.button {
    display: inline-block;
    white-space: nowrap;
}
.section-2 .sell-trade {
    display: inline-block;
    white-space: nowrap;
    font-size: 30px;
    text-align: center;
    width: 150px;
    height: 50px;
    color: white;
    transition-duration: 250ms;
}

.section-2 .sell {
    background-color: lightcoral;
    border: 3px solid lightcoral;
}

.section-2 .trade {
    background-color: lightsalmon;
    border: 3px solid lightsalmon;
}

.section-2 .sell-trade:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.restart-page {
    font-size: 30px;
    border: 3px solid blue;
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: blue;
    color: white;
    transition-duration: 250ms;
    position: relative;
    bottom: 7px;
}

.restart-page:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#cash-expert {
    font-size: 30px;
}
.section-3 {
    display: none;
}

#selector {
    font-size: 25px;
    padding: 10px;
    border: 0;
    border-radius: 0px;
}

.confirmation {
    font-size: 30px;
    border: 3px solid blue;
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: blue;
    color: white;
    transition-duration: 250ms;
    position: relative;
    top: 17px;
}

.confirmation:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.back-page {
    font-size: 30px;
    border: 3px solid blue;
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: blue;
    color: white;
    transition-duration: 250ms;
    position: relative;
    top: 17px;
}

.back-page:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.section-4 {
    display: none;
}