/* WHEN STYLING::after

all of this is sort of organized by the order that the html elements go, like how grid-item-1 as a class is first, and it's first here in CSS.

if anything general was to be changed, like an html element, they were TOP priority of the list such as nav, and a.
*/

nav {
    text-align: center;
    background-color: gray;
    padding: 20px;
}

nav a.navigation {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition-duration: 250ms;
}

nav a.navigation:hover {
    background-color: white;
    color: black;
}

input {
    outline: none;
    background: white;
    font-size: 25px;
    padding: 3vh 5vw;
    border: 0;
    border-radius: 20px;

    transition-duration: 250ms;
}

.naming:focus {
    background: rgba(220, 220, 220);
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.5);
}

.naming {
    position: relative;
    bottom: 25px;
}

.gridbox {
    display: grid;
    color: white;
    font-size: 30px;
}

.grid-item {
    padding: 500px 250px;
}

.grid-item-1 {
    padding: 0;
    background: no-repeat url("../images/ContactSupport.png");
    background-size: cover;
    color: white;
    font-size: 0.75vw;
}

.grid-item-1 h1 {
    padding: 300px 150px;
    width: 40%;
    background-color: rgb(115, 151, 179);
    clip-path: polygon(96% 0, 75% 51%, 96% 100%, 0 100%, 0 0);
    z-index: 1;
}

.grid-item-2 {
    background: no-repeat url("../images/bottom-waves.svg");
    background-size: cover;
    background-position-y: bottom;
    text-align: center;
}

.grid-item-2 p {
    position: relative;
    font-size: 8.5rem;
}

.grid-item-2 h2 {
    position: relative;
    font-size: 50px;
}

.grid-item-3 {
    padding: 500px 250px 0px;
    background: no-repeat url("../images/top-waves.svg");
    background-size: cover;
    text-align: center;
}

.grid-item-3 h2 {
    position: relative;
}

.grid-item-4 {
    padding: 300px 150px;
    background-color: rgb(60, 104, 137);
    text-align :center;
}


#email-submission {
    background-color: rgb(42, 86, 120);
    border-radius: 25px;
    padding: 300px;
}

.email-form {
    font-size: 100px;
    text-align: center;
}

#selector {
    position:relative;
    font-size: 25px;
    padding: 1.75rem 4.5rem;
    border: 0;
    bottom: 0px;
    border-radius: 20px;
}


.form-section-2 {
    display: none;
}

.form-section-3 {
    display: none;
}

.form-section-4 {
    display: none;
}

.form-section-5 {
    display: none;
}

#submitter {
    display: none;
    top: 20px;
    position: relative;
}

#submitter:hover {
    background: rgba(1, 1, 1, 0.25);
    color: white;
}
#success {
    text-align: center;
    display: none;
}

#detailed-request {
    border-radius: 20px;
    font-size: 20px;
    resize: none;
    
}
/* 002E74*/

.footer-container{
    max-width: 1170px;
    margin: auto;
}

.ul{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
    line-height: 1.5;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    width: 25%;
    padding: 0 15px;
}

.column h4{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: 500;
    position: relative;
}

.column h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: rgba(44, 93, 130, 0.5);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.column ul li:not(last-child){
    margin-bottom: 10px;
}

.column ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
}